body {
  margin: 0;
}

header {
  background-color: rgba(255, 192, 20, 1);
  padding: 2rem;
  padding-bottom: 10rem;
  margin: 0;
  position: static;
}

p {
  margin: 0;
}

h2 {
  margin: 0;
  font-family: "Bebas Neue", sans-serif;
}

#header {
  display: flex;
  justify-content: space-between;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  box-sizing: border-box;
  padding: 1rem 1rem 0rem 1rem;
  width: 100%;
}

#header-content {
  font-family: "Alfa Slab One", sans-serif;
  color: #3d2514;
  font-weight: bold;
  padding: 1rem;
  margin: 6rem 6rem 6rem 0rem;
}

#header-content h1 {
  margin: 0;
  margin-top: 0.5rem;
  text-shadow: 0.2rem 0.2rem white;
  font-size: 6.5rem;
}

#header-content h2 {
  margin: 0;
  margin-top: 0.5rem;
  text-shadow: 0.2rem 0.2rem white;
  font-size: 3.2rem;
}

#header-content p {
  font-family: "Beba Neue", sans-serif;
  border: 0.1rem dashed rgba(61, 37, 20, 1);
  padding: 0.5rem;
  margin: 0;
  width: 22rem;
  font-size: 0.8rem;
  text-shadow: none;
}

#delivery {
  display: flex;
  font-size: 1rem;
  margin: 0;
  align-items: center;
  margin-bottom: 2rem;
  padding-right: 4rem;
}

#delivery span {
  width: 100%;
  padding: 0.5rem;
  margin-right: 0.5rem;
}

#delivery img {
  width: 2.56rem;
  height: 2.06rem;
  margin-right: 0.2rem;
}

#nav-bar {
  display: flex;
  justify-content: flex-end;
  padding: 0rem 4rem 4rem;
}

#nav-bar a {
  text-decoration: none;
  font-family: "Bebas Neue", sans-serif;
  color: #3d2514;
  font-size: 1.5rem;
  padding: 0.5rem;
  margin: 0 1rem 1rem 1rem;
}

#content-burger {
  font-family: "Bebas Neue", sans-serif;
  font-size: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  color: white;
  margin: 2rem;
}

#burger-1 img {
  width: 40rem;
  object-fit: contain;
}

#burger-2 img {
  width: 25rem;
  margin-bottom: 2rem;
  object-fit: contain;
}

#burger-3 img {
  width: 25rem;
  object-fit: contain;
}

#tasty-burgers {
  font-family: "Beba Neue", sans-serif;
  color: #3d2514;
  font-size: 2rem;
  text-align: center;
  margin: 1rem;
  margin-bottom: 8rem;
}

#tasty-paragraph {
  font-size: 1rem;
  font-weight: 700;
  margin: 2rem;
  background-color: orange;
  padding: 1rem;
  display: inline-block;
}

#tasty-burgers h2 {
  font-weight: 900;
  margin-bottom: 1rem;
}

#tasty-burgers p {
  font-size: 1rem;
  color: grey;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

#order-burgers {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

#order-burgers li {
  margin: 1.5rem;
  padding: 1rem;
  box-shadow: 2rem 0rem 2rem gray;
}

#order-burgers li img {
  width: 20rem;
  height: 20rem;
}

.h2-title {
  margin: 1rem;
  color: #3d2514;
  font-size: 1.7rem;
}

.subtitle {
  margin: 1rem;
  color: #3d2514;
  font-size: 1.1rem;
}

.btn-order {
  font-family: "Alfa Slab One", sans-serif;
  background-color: rgb(235, 52, 52);
  color: white;
  border: 0;
  padding: 1.2rem 2rem 1.2rem 2rem;
  margin: 1.5rem;
}

#slideshow-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0;
  margin: 3rem;
  align-content: center;
  box-shadow: 5px 10px 8px #888888;
}

#slideshow-left {
  padding: 1rem 0 0 5rem;
  width: 30rem;
}

#slideshow-left p {
  margin: 0;
}

#slideshow-left #dis {
  padding-left: 2rem;
  font-family: "Bebas Neue", sans-serif;
  font-size: 2rem;
}

#slideshow-left #ue {
  padding-left: 2rem;
  padding-bottom: 2rem;
  font-family: "Alfa Slab One", sans-serif;
  font-weight: 300;
  font-size: 2rem;
}

#slideshow-left #lipso {
  padding-left: 2rem;
  padding-bottom: 3rem;
  font-family: "Montserrat", sans-serif;
  font-size: 1.1rem;
  line-height: 2rem;
}

#slideshow-left img {
  padding-top: 3rem;
  padding-left: 2rem;
  padding-bottom: 2rem;
}

#slideshow-right img {
  float: right;
  width: 100%;
  height: 27.5rem;
  padding-right: 3rem;
  object-fit: contain;
}

#book-Table {
  margin: 4rem;
  margin-left: 0;
  text-align: center;
  position: relative;
  
}

#book-Table span {
  font-size: 2rem;
  color: #3d2514;
  font-weight: 500;
}

#book-Table h2 {
  font-size: 4rem;
  margin: 0.5rem;
  margin-bottom: 2rem;
  box-sizing: border-box;
}

input {
  width: 15rem;
  display: block;
  margin: 2rem;
  padding: 1rem;
  border-radius: 6px;
  border: 0.1rem solid gray;
}

input ::placeholder {
  color: black;
}

#book-form {
  display: flex;
  justify-content: center;
}

#book-table {
  font-family: "Alfa Slab One", sans-serif;
  background-color: rgb(235, 52, 52);
  color: white;
  border: 0;
  width: 17.2rem;
}

#bottle {
  margin-right: 2rem;
  margin-top: 1.5rem;
  height: 15rem;
}

#form-burger {
  position: absolute;
  top: 0;
  left: 0;
  width: 12rem;
  height: 12rem;
  margin-left: -1rem;
}

footer {
  margin: 5rem;
  background-image: url("/images/footer/Place\ Your\ Desi\ \(1\).png");
  font-family: "Beba Neue", sans-serif;
  background-repeat: no-repeat;
  
}

#logo {
  padding: 4rem;
}

footer p {
  font-weight: 300;
  color: rgba(255, 255, 255, 0.718);
  font-size: 1.3rem;
  padding-top: 1rem;
}

#footer-content {
  display: flex;
}

#address {
  padding: 5rem;
  display: grid;
}

#address img {
  margin-right: 1rem;
  height: 1.5rem;
}

#address p {
  font-size: 0.75rem;
  color: white;
}

#rights {
  display: flex;
  justify-content: space-between;
  padding: 2rem 4rem 2rem 2rem;
}

#rights ul {
  display: flex;
  margin: 0;
}

#rights p {
  padding: 0;
  padding-left: 2rem;
  font-size: 1rem;
}

#rights ul li {
  margin-left: 0.75rem;
}

/* slideshow*/

@media only screen  and (max-width: 768px) {

  

  footer {

    width: 90%;
    overflow-x: hidden;
  }

  #content-burger {
    grid-template-columns: 100%;
    align-items: center;
  }

  #burger-1 img {

    width: 30rem;
    
  }


  #burger-2 img {

    width: 30rem;
  }

  #burger-3 img {

    width: 30rem;
  }

  #order-burgers{

    grid-template-columns: 100%;

  }
}
  


@media only screen and (max-width: 480px) {

  footer {
    flex-direction: row;
    margin: 0;
    font-size: 1rem;
  

  }

  

  #footer-content {
    flex-direction: row;
  }

  #nav-bar {
    display: grid;
    grid-template-columns: 100%;
    width: auto;
    justify-content: flex-start;
  }

  #burger-1 img {

    width: 15rem;

  }

  #burger-2 img {

    width: 15rem;
  }

  #burger-3 img {

    width: 15rem;
  }
  
  header {

    overflow-x: hidden;
    width: auto;

  }
  #header {
    flex-direction: column;
    width: 40%;
  }

  #content-burger {
    grid-template-columns: 100%;
    
  }

  #slideshow-content {

    grid-template-columns: 100%;
    margin: 0;
    margin-top: 2rem;
   
  
  }

  #slideshow-left {

    padding: 0;
    width: 100%;

  }

  #slideshow-left #lipso{

    margin: 0;
    width: 100%;
    font-size: 1rem;
    line-height: normal;
    box-sizing: border-box;

  }
  
  
  #slideshow-right {

    width: 90%;
    height: 70%;
    /* padding-left: 5rem; */
    

  }
  #slideshow-right img{

   width: 100%;
    
  }

 
  #tasty-burgers {
    width: 70%;
    font-size: rem;
  }

  #tasty-burgers p {
    font-size: 1rem;
    text-align: center;
  }

  #order-burgers {

    grid-template-columns: 100%;
    box-shadow: 1rem 1rem 2rem gray;
    width: 90%;
  }

  #form-burger {
    height: 5rem;
    width: 5rem;
  }

  

  #order-burgers li {
    box-shadow: none;
    width: auto;
  }

  #order-burgers li img {
    width: 15rem;
    height: 15rem;
  }

  #book-form {
    display: grid;
    grid-template-columns: 100%;
    align-items: center;
    margin-left: 1.5rem;
  }

  #book-form input {
    margin-left: 0;
  }
}
