body {
  margin: 0;
  width: 100%;
}

header {
  background-color: rgba(255, 192, 20, 1);
  padding: 2rem;
  padding-bottom: 10rem;
}

p {
  margin: 0;
}

h2 {
  margin: 0;
}

#header {
  display: flex;
  justify-content: space-between;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  box-sizing: border-box;
  padding: 1rem 1rem 0rem 1rem;
  width: 100%;
}

#header-content {
  font-family: "Alfa Slab One", sans-serif;
  color: #3d2514;
  font-weight: bold;
  padding: 1rem;
  margin: 6rem 6rem 6rem 0rem;
}

#header-content h1 {
  margin: 0;
  margin-top: 0.5rem;
  text-shadow: 0.2rem 0.2rem white;
  font-size: 6.5rem;
}

#header-content h2 {
  margin: 0;
  margin-top: 0.5rem;
  text-shadow: 0.2rem 0.2rem white;
  font-size: 3.2rem;
}

#header-content p {
  font-family: "Beba Neue", sans-serif;
  border: 0.1rem dashed rgba(61, 37, 20, 1);
  padding: 0.5rem;
  margin: 0;
  width: 22rem;
  font-size: 0.8rem;
  text-shadow: none;
}

#delivery {
  display: flex;
  font-size: 1rem;
  margin: 0;
  align-items: center;
  margin-bottom: 2rem;
}

#delivery span {
  width: 100%;
  padding: 0.5rem;
  margin-right: 0.5rem;
}

#delivery img {
  width: 2.56rem;
  height: 2.06rem;
  margin-right: 0.2rem;
}

#nav-bar {
  display: flex;
  justify-content: flex-end;
}

#nav-bar a {
  text-decoration: none;
  font-family: "Bebas Neue", sans-serif;
  color: #3d2514;
  font-size: 1.5rem;
  padding: 0.5rem;
  margin: 0 1.7rem 1.7rem 1.7rem;
}

#content-burger {
  font-family: "Bebas Neue", sans-serif;
  font-size: 1rem;
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  margin: 2rem 0rem 2rem 2rem;
  align-items: center;
  position: relative;
  color: white;
}

#burger-1 img {
  width: 33rem;
  height: 26.3rem;
  padding: 3rem 0rem 3rem 6rem;
}

#burgers {
  display: grid;
  grid-gap: 2rem;
  position: relative;
}

#text-block-burger {
  position: absolute;
  top: 5rem;
  left: 8rem;
  text-align: left;
}
#text-block-burger-1 {
  position: absolute;
  top: 2rem;
  left: 2rem;
}

#text-block-burger-2 {
  position: absolute;
  top: 16rem;
  left: 2rem;
}

#tasty-burgers {
  font-family: "Beba Neue", sans-serif;
  color: #3d2514;
  font-size: 2rem;
  text-align: center;
  margin: 2rem;
  margin-bottom: 8rem;
}

#tasty-paragraph {
  font-size: 1rem;
  font-weight: 700;
  margin: 2rem;
  background-color: orange;
  padding: 1rem;
  display: inline-block;
}

#tasty-burgers h2 {
  font-weight: 900;
  margin-bottom: 1rem;
}

#tasty-burgers p {
  font-size: 1rem;
  color: grey;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

#order-burgers {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 2rem 0 2rem;
}

#order-burgers li {
  margin: 1.5rem;
  padding: 1rem;
}

#order-burgers li img {
  width: 22rem;
  height: 22rem;
}

.h2-title {

    

}