body {
  margin: 0;
}

header {
  background-image: url('/images/Rectangle.png');
  padding: 2rem;
}

#header {
  display: flex;
  justify-content: space-between;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  box-sizing: border-box;
  padding: 1rem 1rem 0rem 1rem;
  width: 100%;
}

#whole-content {

    display: flex;


}

#header-content  {
    font-family: 'Alfa Slab One',sans-serif;
    color: #3d2514;
    font-weight: bold;
    padding: 1rem;
    margin: 6rem 6rem 6rem 0rem;
    
}

#header-content h1 {

    margin: 0;
    margin-top: 0.5rem;
    text-shadow: 0.2rem 0.2rem white;
    font-size: 6.5rem;

}

#header-content h2 {

    margin: 0;
    margin-top: 0.5rem;
    text-shadow: 0.2rem 0.2rem white;
    font-size: 3.2rem;
}

#header-content p {

    font-family: 'Beba Neue', sans-serif;
    border: 0.1rem dashed rgba(61, 37, 20, 1);
    padding: 0.5rem;
    margin: 0;
    width: 22rem;
    font-size: 0.8rem;
    text-shadow: none;
    
}


#delivery {
  display: flex;
  font-size: 1rem;
  margin: 0;
  align-items: center;
  margin-bottom: 2rem;
}

#delivery span {
  width: 100%;
  padding: 0.5rem;
  margin-right: 0.5rem;
}

#delivery img {
  width: 2.56rem;
  height: 2.06rem;
  margin-right: 0.2rem;
}

#nav-bar {
  display: flex;
  justify-content: flex-end;
}

#nav-bar a {
  text-decoration: none;
  font-family: "Bebas Neue", sans-serif;
  color: #3d2514;
  font-size: 1.5rem;
  padding: 0.5rem;
  margin: 0 1.7rem 1.7rem 1.7rem;
}

/* @media only screen and (max-width: 480px) {
  header {
    width: 30rem;
  }
  #delivery {
    display: none;
  }
} */
